body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* font-family: 'Permanent Marker', cursive; */

}
/*backgroundImage: "url('https://upload.wikimedia.org/wikipedia/commons/e/ef/Kozloduy_Nuclear_Power_Plant_-_Control_Room_of_Units_1_and_2_in_black_and_white.jpg')", */

html { 
/*  background: url("https://upload.wikimedia.org/wikipedia/commons/e/ef/Kozloduy_Nuclear_Power_Plant_-_Control_Room_of_Units_1_and_2_in_black_and_white.jpg") no-repeat center center fixed; 
*/  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#nav{

	text-align: left;

}

.button{

	margin-top: 10px;
	margin-bottom: 10px;
}


.MuiButton-root-25{

	border: black solid 5px;
}



/*play with the columns here so it's on the same row*/
#sidebarmenu{

	border:  blue solid 5px;
	height: 700px;
	width: 200px;
	float: right;
	display:  inline;


}

/*sets up styling for all hyperlinks on the app, the FA icons are also styled like text*/
 .List a{
   color: #ffc107;
   text-shadow:  3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
      }
        
 
 
 
 .list-component-footer a{
 
   color: #ffc107;
   text-shadow:  3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
 
 }