.snackbar {
    border-radius: 0.25rem;
    padding: 0.25rem;
    text-align: center;
    width: 100%;
    color: black;
    font-weight: bold;
    margin: 0.5rem 0
}

.error {
    background-color: rgba(244, 67, 54, 0.75);
    border: 1px solid rgb(183, 28, 28);
}

.warning {
    background-color: rgba(255, 193, 7, 0.75);
    border: 1px solid rgb(255, 160, 0);
}

.success {
    background-color: rgba(76, 175, 80, 0.75);
    border: 1px solid rgb(27, 94, 32);
}