#component_name{

	color: #ffc107;
	font-size: 20px;
	text-align: center;
	border: none;


}

#stateTitle{

	color: white;
	font-size: 12px;
	text-align: center;
	border: none;


}

.editor-switch {
	position: absolute;
	top: -2rem;
	right: -2rem;
	height: 2rem;
	width: 2rem;
	font-size: 0.75rem
}


.switch{

	color: #ffc107;
	font-size: 20px;
	text-align: center;
	border: none;

} 