#nameDiv{

color: black !important;
font-size: 2rem;
font-family: "Permanent Marker" !important;

}



#groupDiv{

color: black !important;
font-size: 2rem;
font-family: "Permanent Marker" !important;


}

#selectTitle{
	color: black !important;
	width: 100%
}

.valign-wrapper{

	overflow: hidden;
}

h3{
	
	font-family: "Permanent Marker" !important;


}