#nameDiv{

color: black !important;
font-size: 2rem;

}



#groupDiv{

color: black !important;
font-size: 2rem;


}

#selectTitle{


	color: black !important;
}

.valign-wrapper{

	overflow: hidden;
}