#nameDiv{

color: black !important;
font-size: 2rem;
font-family: "Permanent Marker" !important;

}



#groupDiv{

color: black !important;
font-size: 2rem;
font-family: "Permanent Marker" !important;


}

#selectTitle{


	color: black !important;
}

.valign-wrapper{

	overflow: hidden;
}